.post-list {
    max-width: 600px;
}
.post-item{
    margin-bottom: 50px;
}

.post-img {
    max-width: 600px;
    margin-bottom: 18px;
}
.post-title {
    color: #333;
    margin-bottom: 12px;
}
.post-excerpt{
    color: #5d5d5d;
    margin-bottom: 10px;
}
.post-date{
    font-size: .9em;
    color: #8c8c8c;
}