.header {

}
.in {
    width: 940px;
    margin: 0 auto;
}
.header-title {
    font-weight: lighter;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 0;
    a {
        color: inherit;
        text-decoration: none;
    }
}